body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 30px;
}

.ul_navbar {
    list-style-type:disc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
.carrito_info {
 display: inline;
 color: rgb(200, 185, 185);
  }
  
.carrito_suma {
    margin: 0;
    color: rgb(36, 216, 36);
  }
  
  button {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border:color(from color srgb r g b);
    padding: 4px 10px;
    cursor: pointer;
    font-size: larger;
  }
  
 